# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Angular
node_modules/
dist/
.angular/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db